#lp_container{
  margin: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: 80%;
  gap:20px;
}



#month_12>div>div>h3{
  margin: 0px;
  padding: 0px;
}
  

.lp_col-1>div>p{
   text-align: center;
   padding: 0px 0px 30px 10px;
   font-size: 22px;
   font-family: 'PT Sans', sans-serif;
   font-family: 'Roboto', sans-serif;
  
}
.lp_col-1>div>p>a{
  color:rgb(138, 30, 8);
  text-decoration: none;
}
.lp_col-1>p>a>span{
  font-size: 30px;
}


/* common============================================================================ */
 button, a{
  cursor: pointer;
}
.lp_child1_sub_child4, .lp_child1_sub_child3{
  margin-top:40px;
}
.lp_child1_sub_child3{
  padding-bottom:20px;
}
.hr{
  height: 10px;
  background-color: #edeff3;
  width: 100%;
  z-index: 1;
}
  
/* javscript button load more */
.lp_child1_sub_child4>#load_more_review{
  display: block;
  margin: auto;
  border-radius: 7px;
  padding: 8px 14px;
  border: 0.1px solid rgb(212, 208, 208);
  font-size: 16px;
  background-color: white;
  font-family: 'PT Sans', sans-serif;
   font-family: 'Roboto', sans-serif;
}
.lp_child1_sub_child4>#load_more_review:hover{
  background-color: rgba(241, 239, 235, 0.945);
}