*{
    margin:0;
    padding:0;
    overflow-x:hidden;
}

#HP-banner-1{
    width: 100%;
    height: 600px;
    background: linear-gradient(180deg,rgba(0,0,0,.16),rgba(0,0,0,.8)), url('https://res.cloudinary.com/urbanclap/image/upload/images/growth/home-screen/1615375782838-f890f8.jpeg');
    background-size: 100% 600px;
    background-image: -o-repeating-linear-gradient(180deg,rgba(0,0,0,.16),rgba(0,0,0,.8));
    text-align: center;
}
.HP-banner-1h{
    font-family: axiforma-semiBold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 500;
    vertical-align: baseline;
    line-height: 72px;
    color: #fff;
}

#HP-banner-Navbar{
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 15px;
}
#HP-banner-Navbar-2{
    text-align: center;
    font-family: axiforma-semiBold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.HP-banner-1p{
    font-size: 14px;
    font-weight: 400;
    font-family: axiforma-semiBold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #fff;
    margin-top: 140px;
}
option{
    width: 180px; height: 60px; background-color: #fff; border-radius: 5px;
}

